header {
	background: url("../images/gradient2.jpg");
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "Lato";
}

.thinbar {
    border-bottom: 5px solid black; 
}

.intro h1 {
	color: white;
	text-align: center;
	padding-top: 13%;
	font-size: 8vw;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	font-weight: 700;
	
}

ul {
    list-style: none outside;
    margin: auto;
}

#icons {
	margin: 20px auto;
	width: 255px;
}

.icon:hover {
	color:red;
}

.icon {
	color: white;
	transition: color 0.3s;
	font-size: 30px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	margin: 0 10px 0 10px;
	float: left;
}

p {
	margin: 0 auto;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.my-button {
		font-size: 1em;
		line-height: normal;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out, color 0.2s 0.3s;
		letter-spacing: 0;
		border-radius: 45px;
		height: auto;
		padding: .8em 2.1em;
}

.my-button:hover {
	cursor: pointer;
	padding: .8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#writing-text {
	color: white;
	text-align: center;
	font-size: 2em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.btn-danger {
	color: white;
    text-transform: uppercase;
    border: 2px solid rgba(255, 103, 68, 0.91);
    border-radius: 50px;
    background: rgba(255, 103, 68, 0.91);

}

.btn {
	font-size: 1em;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out, color 0.2s 0.3s;
    letter-spacing: 0;
    border-radius: 45px;
    height: auto;
    padding: .8em 2.1em;
}

hr {
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.3);
}

#gmail-btn {
	margin: 0 auto;
	width: 180px;
}

#about {
	background-color: #232323;
	font-family: "Lato";
	font-weight: normal;
	color: white;
	padding-bottom: 50px;
	padding-top: 20px;
}

#about h2 {
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
	font-weight: 700;
	letter-spacing: 4px;
	padding-bottom: 10px;
}

#about p {
	padding-top: 10px;
	color: gray;
}

#about .img-thumbnail {
	border: 1px solid gray;
	padding: 0;
	border-radius: 100%;
	height: 180px;
	width: 180px;
	margin-left:70px;
	margin-top: 10px;

}

#education {
	padding-top: 20px;
	font-family: "Lato";
	padding-bottom: 30px;
}

#education h2 {
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 2px red solid;
}

#education h4 {
	color: #738182
}

.school {
	margin-top: 20px;
	font-weight: 700;
}

.school-style {
	margin-top: 20px;
	padding-left: 60px;
}

.school-style p {
	color: #FF6945;
	font-weight: 500;
	font-size: 20px;
}


#education img {
	height: 200px;
	width: 200px;
	margin-left: 80px;
}

#experience {
	background-color: #4c6d86;
	padding-top: 20px;
	padding-bottom: 30px;
}

#experience h2 {
	color: #fff;
	margin-bottom: .7em;
	padding-bottom: 10px;
	letter-spacing: 2px;
	font-family: "Lato";
	font-weight: 700;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.tag-line {
	color: white;
	font-size: 1.5em;
	font-family: "Lato";
	font-weight: normal;
	padding-bottom: 20px;
}

#experience i {
	color: rgb(255, 138, 89);
	font-size: 3em;
	padding-bottom: 10px;
}

#experience h3 {
	color: #fff;
	font-weight: 700;
}

.experience-topics p {
	color: #ACAEB2;
	font-family: "Lato";
}

.experience-topics ul li {
	list-style: none;
	color: #bbd2ff;
	font-family: "Lato";
	font-weight: 500;
}

.text-center {
    text-align: center;
}

.table {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 15%;
	padding-right: 30px;
}

#work {
	padding: 2em 4em 3em;
	background-color: #fff;
}

#work h2 {
	color: #FF6945;
	margin-bottom: 50px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	border-bottom: 2px solid #232323;
	font-weight: 700;
}


#work .work-row {
	margin-bottom: 2em;
}

.work-btns {
	padding-left: 40px;
}

.details h3 {
	color: #738182;
	font-weight: 700;
}

.details .platform{
	text-transform: uppercase;
	margin: 1em 0 -0.1em;
	font-family: "Lato"
	font-weight: 500;
	color: #ff7654;
}

.details i {
	color: #ff7654;
	margin-right: 1em;
}

.details p {
	padding-top: 10px;
	color: #738182;
	font-family: "Lato"
	font-weight: 500;
	font-size: 1.2em;
	margin-bottom: 1.8em;
}

.details a, .details a:link, .details a:active{
	color: rgba(255, 103, 68, 0.91);
	border: 2px solid rgba(255, 103, 68, 0.91) !important;
	background-color: #fff;
}

.details a:hover, .details a:focus {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
	background-color: rgba(255, 103, 68, 0.91) !important;
	color: #fff;
}

.img-thumbnail {
	border: none;
	border-radius: 15px;
}

.second-btn {
	margin-top: 10px;
}

.first-btn {
	margin-top: 10px;
}

#projects {
	background-color: rgba(255, 103, 68, 0.91);
	color: white;
	padding: 2em 4em 2em;
	font-family: "Lato";
}

#projects a, #projects a:link, #projects a:active{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
	background-color: rgba(255, 103, 68, 0.91) !important;
	color: white;
	border: 2px solid white !important;
}

#projects a:hover, #projects a:focus {
	background-color: white !important;
	color: rgba(255, 103, 68, 0.91);
	border: 2px solid white !important;
}

#projects h2 {
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: 10px;
	border-bottom: 2px white solid;
	font-weight: 700;
}

.project {
	padding: 30px;
}

.project h3 {
	font-weight: 700;
}

.project .btn {
	margin-top: 20px;
}

.project p {
	font-size: 20px;
}

footer {
	background-color: #232323;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 50px;
	padding-top: 30px;
	border-top: 2px white solid;
}

footer p {
	text-align: center;
}

footer .icon {
	color: rgba(255, 255, 255, 0.5) ;
}
